html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.description {
  color: whitesmoke;
  display: block;
  position: absolute;
  right: 20px;
  top: 0px;
  width: 418px;
  z-index: 1000;
}

.nav {
  bottom: 10px;
  color: whitesmoke;
  display: block;
  left: 10px;
  position: absolute;
}